html {
    font-family: sans-serif;
}

.btn-primary{
    text-align: center;
    background-color: #FFC300;
    border-radius: 300px;
    width: 5em;
    margin-left:100px;
    margin-top:10px;
}
.form-group{
    margin-left:120px;

}

fieldset{
    background-color: floralwhite;
    border: 5px outset grey;
    margin-top:10px;
}
.BtnCreeAnnonce {
    padding: 1em 0 1em;
    margin-top: 18px;
    height: 80px;
    background-color: dimgrey;
    border-radius: 300px;
    cursor: pointer;
    width: 15em;
    height: 5em;
    text-align: center;
    font-size:13px;
    font-style: italic;
    font-weight: 700;

}

    .BtnCreeAnnonce:hover {
        background-color: #FFC300;
    }

    .BtnCreeAnnonce span {
        margin: 50px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        font-family: Raleway, sans-serif;
        color: white;
        text-align: center;

    }


html, body {
    margin: 0;
    padding: 0;
}

#entete, #main, #footer {
    padding: 0px 0;
}

#entete {
    background-color: floralwhite;
    text-align: center;
    margin-bottom: 60px;
    padding-bottom: 15px;
    height: 70px;

}

#main {
    max-with: 960px;
    margin: auto;
    padding-bottom: 530px;
}


#footer {
    background-color: floralwhite;
    clip-path: polygon(80% 10%, 100% 35%, 100% 100%, 80% 100%, 50% 100%, 23% 100%, 0 100%, 0% 35%, 20% 10%);
    text-align: center;
    clear: both;
    padding-bottom: 100px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    height: 10px;
}




body {
    background-image: url(image/fond.jpg);
    font-family: helvetica, arial, sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   
}


a{
    color: floralwhite;
}


h1 {
    color: black;
    font-size: 50px;
    top: 40px;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    margin-left: 10px;
    margin-top: 4px;
    color: #454343;
}

h2 {
    font-size: 10px;
    top: 40px;
    width: 500px;
    margin: 0 auto;
    margin-left: 1300px;
    margin-top: -150px;
}

h3 {
    margin: 10px;
    text-align: center;
    color: dimgrey;
}
h6 {
    font-style: italic;
    color:red;
}
p {
    color: #454343;
}


.wrapper {
    position: absolute;
    margin-left: 450px;
    margin-top: 145px;
    width:500px;
}


.choix {
    position: absolute;
    margin-left: 550px;
    margin-top: 145px;
}

.choix2 {
    position: absolute;
    margin-left: 450px;
    margin-top: 145px;
}

.deco{
    position: absolute;
    background-color:floralwhite;
    margin-top: 0px;
    margin-left: 450px;
    border-color: floralwhite;
    border-radius: 0px;
    border-width:0px;

}



.btnbtn-secondary{
    background-color: floralwhite;
    width:125px;
    height:84px;
    border-color: #FFC300;
    border-radius: 5px;
    border-width:5px;
    border-top-color: floralwhite;
    font-size:16px;
    font-style: italic;
    font-weight: 900;

}

legend{
    color:#FFC300;
}


@import url('https://fonts.googleapis.com/css?family=Overpass');


.left-side {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: floralwhite;
    overflow: hidden;
    z-index: 3;
}

.right-side {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: floralwhite;
    z-index: 3;
    overflow: hidden;
}

.hover {
    position: absolute;
    float: left;
    height: 70px;
    width: 70px;
    cursor: none;
    overflow: hidden;
}

.bit-top {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 5px;
    width: 10px;
    background: #fff;
}

.bit-top-left {
    position: absolute;
    left: 0%;
    top: 5px;
    height: 5px;
    width: 5px;
    background: #fff;
}


.bit-top-right {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 5px;
    width: 10px;
    background: #fff;
}

.bit-top-right-2 {
    position: absolute;
    right: 0%;
    top: 0px;
    height: 10px;
    width: 5px;
    background: #fff;
}

.bit-bottom-left {
    position: absolute;
    bottom: 0%;
    left: 0px;
    height: 10px;
    width: 5px;
    background: #fff;
}

.bit-bottom-left-2 {
    position: absolute;
    bottom: 0%;
    left: 0px;
    height: 5px;
    width: 10px;
    background: #fff;
}

.bit-bottom-right {
    position: absolute;
    bottom: 0%;
    right: 0px;
    height: 5px;
    width: 10px;
    background: #fff;
}

.bit-bottom-right-2 {
    position: absolute;
    bottom: 0%;
    right: 0px;
    height: 10px;
    width: 5px;
    background: #fff;
}

.blur {
    position: absolute;
    color: #454343;
    font-family: 'Overpass', sans-serif;
    font-size: 64px;
    letter-spacing: 0px;
    margin: auto;
    width: 100%;
    filter: blur(5px);
    cursor: none;
    overflow: hidden;
    text-align: center;
    z-index: 3;
}

.focus {
    position: absolute;
    color: #FFC300;
    font-family: 'Overpass', sans-serif;
    font-size: 64px;
    letter-spacing: 0px;
    margin: auto;
    width: 100%;
    filter: blur(0px);
    cursor: none;
    overflow: hidden;
    text-align: center;
    z-index: 2;
}

.container {
    position: absolute;
    height: 8vh;
    padding-top: 20vh;
    width: 25%;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px;
    margin-left: 0px;
    margin-top: 4px;
}





